body{
background:hsl(210,46%,95%);
font-family:'Barlow Semi Condensed', sans-serif;
}

.card-daniel{
background:hsl(263,55%,52%);
color:white;
}

.card-jonathan{
background:hsl(217,19%,35%);
color:white;
}

.card-patrick{
background:hsl(219,29%,14%);
color:white;
}

.card-jeanette{
background:white;
}

.card-kira{
background:white;
}

.profile-img{
width:40px;
height:40px;
border-radius:50%;
}

.verified{
opacity:.6;
font-size:.9rem;
}

.testimonial-card{
border-radius:10px;
}